<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndpointId</key>
	<string>c9416c5e-78a1-4260-b824-d73bdfa39747</string>
	<key>Region</key>
	<string>eastus2</string>
	<key>SubscriptionKey</key>
	<string>G9rDRkUdUvfmPAjBHxMWVBK5PbOxobNKM7BuG3Mgz6ah5uHFtxbFJQQJ99BGACHYHv6XJ3w3AAAAACOGRUew</string>
</dict>
</plist>
